@model TaskManagement.Models.MstrUser

@{
    ViewData["Title"] = "Edit";
    Layout = "../Shared/_Layout.cshtml";
}


<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 87vh;">
    <form asp-action="Edit" class="login-container register">
        <h2 class="mb-4 text-center text-white fw-bold">Edit User</h2>
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserId" />

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Nationality" class="control-label"></label>
                <select asp-for="Nationality" class="form-control">
                    <option value="">Select </option>
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                    <option value="UK">UK</option>
                </select>
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Role" class="control-label"></label>
                <br />
                <select id="myList" asp-for="RoleId" class="form-control">
                    <option value="">Select</option>
                    @foreach (var item in @ViewBag.Roles)
                    {
                        <option value="@item.RoleID">@item.Name</option>
                    }
                </select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        @* <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        </div> *@
        <div class="form-group text-white">
            <label class="control-label">@* IsUserActivated *@</label>
            <input class="form-check-input" asp-for="IsUserActivated" /> @Html.DisplayNameFor(model => model.IsUserActivated)
        </div>
        <div class="form-group mb-3 w-100 d-flex justify-content-end">
            <input type="submit" value="Save" class="btn btn-primary submit w-25" />
        </div>
        <div class="w-100">
            <a asp-action="User" class="text-center btn-link d-flex justify-content-end ">Back to List</a>
        </div>
    </form>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}