@model IEnumerable<dynamic>

@{
    ViewBag.Title = "Notifications List";
    Layout = "../Shared/_Layout6.cshtml";
 


}



<!-- jqGrid Table for Notifications -->
<table id="jqGrid"></table>
<div id="jqGridPager"></div>

<link href="~/css/theme/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />

@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <script src="~/js/jqgrid/grid.locale-en.js"></script>
    <script src="~/js/jqgrid/jquery.jqgrid.min.js"></script>
    <script src="~/js/jqgrid/jquery-ui.min.js"></script>
    <script>
        $(function () {
            // Prepare data for jqGrid
            const gridData = @Html.Raw(Json.Serialize(Model));

            // Initialize jqGrid
            $("#jqGrid").jqGrid({
                datatype: "local", // Use local data
                data: gridData, // Bind gridData to the jqGrid
                colModel: [
                    { label: "NotificationId", name: "notificationId", key: true, hidden: true },
                    { label: "Subject", name: "subject", width: 250, sortable: false },
                    { label: "NotificationType", name: "notificationType", width: 150, sortable: false },
                    { label: "NotificationDate", name: "notificationDate", width: 150, formatter: "date" },
                    {
                      
                        width: 300,
                       
                        align: 'center'
                    }
                ],
                pager: "#jqGridPager",
                rowNum: 10,
                rowList: [10, 20, 30],
                sortname: "DateCreated",
                sortorder: "desc",
                viewrecords: true,
                height: 'auto',
                jsonReader: {
                    repeatitems: false,
                    id: "Id"
                }
            });



            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                { edit: false, add: false, del: false, search: true, refresh: true });
        });
    </script>
}